body{
    font-family: sans-serif;
    text-align:center;
    background-color: #f4f4f9;
    padding:40px;
    color:#333;
}

.container{
    max-width:800px;
    margin:auto;
    background: white;
    padding:30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    display:flex;
    align-items: center;
    gap:20px;
}
.animal-image{
    width:50%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.info{
    width:50%;
    text-align: left;
}

h1{
    font-size:32px;
    color:#000080;
}
p{
    font-size:18px;
    color:#555;
    line-height: 1.8;
}

.back-link{
    display:inline-block;
    background-color: #1196c1;
    color:white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    padding:10px 20px;
    margin-top:20px;
    font-weight: bold;
    transition: background 0.3s;
}

.back-link:hover{
    background: #000080;
}